# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.log
*.ilk
*.recipe
*.txt
*.pdb
*.iobj
*.idb
*.ipdb
*.vsidx
*.lock
*.db
.vs/ELmulation KOM/v17/.suo
*.ipch
*.bin
*.manifest
*.testlog
*.json
*.sqlite
*.json
*.in
lib/zlibcomplete-1.0.5/COPYING
lib/zlibcomplete-1.0.5/CONTRIBUTORS
lib/zlibcomplete-1.0.5/ChangeLog
*.yml
lib/zlibcomplete-1.0.5/AUTHORS
*.sqlite
lib/zlibcomplete-1.0.5/test/runrubytests
lib/zlibcomplete-1.0.5/test/runtests
*.html
